---
title: 'MAT 4200: Differential Geometry'
layout: layouts/base.njk
term: S26
courseNumber: MAT4200
courseTitle: Differential Geometry
---
<h1 style="margin:0;">{{ courseNumber }}</h1>
<h4 style="margin:0;">{{ courseTitle }} ({{ term }})</h4>

<h2>Assignments</h2>
<div class="three-column grid by-columns">
{% for post in collections.all | reverse %}{% if (post.data.courseNumber == courseNumber) and (post.data.term == term) and (post.data.type == "assignment") %}
    <a href="{{ post.url }}" class="hw-list-item">
      <div>
        <div class="hw-link">
          {{ post.data.title }}
        </div>
        <div>
          ({{ post.data.date | dueDate }})
        </div>
      </div>
    </a>
{% endif %}{% endfor %}
</div>

<h3>Other pages</h3>
<ul>
  <li><a href="group_video/">Group video guidelines</a></li>
  <li><a href="blog/">Blog post upload instructions</a></li>
  <li><a href="blog_post/">Term paper (blog post)</a></li>
  <li><a href="Exam1/">Exam 1</a></li>
  <li><a href="first_day/">First day SVG activity</a></li>
</ul>
</div>
